.works h1 {
    background-image: url(../assets/TitleBG.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: slideInLeft 0.3s ease-in-out;
}

.Working {
    animation: fadeIn 1s ease-in-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}