.choose h1 {
    background-image: url(../assets/TitleBG.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fade1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 242, 242, 0.2);
    padding-bottom: 10px;
}